In [1]:
#Import required libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
#Import required data
flights_data = pd.read_csv('flights.csv')
flights_data.head(10)
weather_data_pd = pd.read_csv('weather.csv')
weather_data_np = weather_data_pd.to_numpy()

In [3]:
#Pandas Data Filtering/Sorting Questions
#use flights_data
#Displaying first 5 rows for reference
flights_data.head(5)

,Unnamed: 0,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,1,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,3,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,4,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,N804JB,725,JFK,BQN,183.0,1576,5.0,44.0
4,5,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0

In [4]:
#Question 1
#How many flights were there from JFK to SLC? Int


#Creates dataframe q1 which is filtered to show rows where origin is JFK and destination is SLC
q1 = flights_data[(flights_data['origin'] == 'JFK') & (flights_data['dest'] == 'SLC')]
#Prints the number of flights from JFK to SLC (number of rows in the filtered dataframe q1)
len(q1)

2113

In [5]:
#Question 2 
#How many airlines fly to SLC? Should be int

#Creates dataframe q2_flights which is filtered to show rows where destination is SLC
q2_flights = flights_data.loc[flights_data['dest'] == 'SLC']
#Creates an array containing unique values of 'carrier' found in the q2_flights dataframe
q2_carriers = q2_flights['carrier'].unique()
#Uncomment to view array
#print(q2_carriers)

#Prints the number of airlines that fly to SLC
q2 = (len(q2_carriers))
q2

2

In [6]:
#Question 3 
#What is the average arrival delay for flights to RDU? float


#Creates dataframe q3_flights which is filtered to show rows where destination is RDU
q3_flights = flights_data.loc[flights_data['dest'] == 'RDU']

#Prints the average arrival delay for flights to RDU
q3 = q3_flights['arr_delay'].mean()
q3

10.052380952380952

In [7]:
#Question 4 
#What proportion of flights to SEA come from the two NYC airports (LGA and JFK)?  float

#Creates dataframe q4_flights which is filtered to show rows where destination is SEA
q4_flights = flights_data.loc[flights_data['dest'] == 'SEA']

#Creates a series containing the frequencies of origin in q4_flights
#Note that there are no flights from LGA to JFK
q4_freq = q4_flights['origin'].value_counts(normalize=True)

#Creates a variable q4, which contains proportion of flights to SEA from JFK
q4 = q4_freq['JFK']
#Prints the proportion of flights from JFK to SEA (There were 0 flights from LGA to SEA)
q4

0.5332653581442773

In [8]:
#Question 5 
#Which date has the largest average depature delay? Pd slice with date and float
#please make date a column. Preferred format is 2013/1/1 (y/m/d)

#Creates dataframe q5_df that is a slice of the flights_data 
q5_df = flights_data.iloc[:, 0:8]
#Creates a column called "date" using pd.to_datetime and the year/month/day columns
q5_df['date'] = pd.to_datetime(q5_df[['year', 'month', 'day']])
#Applies desired formatting to date column
q5_df['date']= q5_df['date'].dt.strftime('%Y/%m/%d')

#q5_df.loc[q5_df['dep_delay'].idxmax()] #Alternate way to do this, keeping for reference

                                    

#Finds index of row with max departure delay
max_dep_delay = q5_df['dep_delay'].idxmax()

#sets variable q5 equal to the date with the largest average departure delay
q5 = q5_df['date'][max_dep_delay]
#Prints the date with the largest average departure delay
q5

'2013/01/09'

In [9]:
#Question 6 
#Which date has the largest average arrival delay? pd slice with date and float

#Using the sliced dataframe from q5, finds the index of the row with max arrival delay
max_arr_delay = q5_df['arr_delay'].idxmax()

#sets variable q6 equal to the date with the largest average arrival delay
q6 = q5_df['date'][max_arr_delay]
#Prints the date with the largest average departure delay
q6

'2013/01/09'

In [10]:
#Question 7 
#Which flight departing LGA or JFK in 2013 flew the fastest? pd slice with tailnumber and speed
#speed = distance/airtime

#Creates a new dataframe, q7_df_filtered, which only contains flights from LGA or JFK in 2013
q7_df = flights_data.loc[(flights_data['year'] == '2013') & (flights_data['origin'] == 'LGA') | (flights_data['origin'] == 'JFK')]
#Sliced dataframe to only columns of interest
q7_df = q7_df[['carrier', 'tailnum', 'flight', 'origin','dest','air_time','distance']]
#Created a new column, 'speed', by dividing distance by airtime
q7_df['speed'] = q7_df['distance']/q7_df['air_time']
#Finds the index of the row with maximum value for speed
max_speed = q7_df['speed'].idxmax()

#sets variable q7 equal to the date with the largest average arrival delay
q7 = q7_df['tailnum'][max_speed]
#Prints the date with the largest average departure delay
q7

'N3768'

In [11]:
#Question 8 
#Replace all nans in the weather pd dataframe with 0s. Pd with no nans

q8 = weather_data_pd.dropna()

In [12]:
#Dropping NaNs in weather_data_np for questions 9-11
#Note: Question 9 would have a different answer if I didn't do this
weather_data_pd.dropna(inplace=True)
weather_data_np = weather_data_pd.to_numpy()

In [13]:
#%% Numpy Data Filtering/Sorting Question Answering
#Use weather_data_np
#Question 9 How many observations were made in Feburary? Int

#Slices array to only include the month column
q_9 = weather_data_np[:,3]
#Created a boolean array where values = 2.0 (February) were set to true
#Then used sum() to return the number of observations made in february
sum(q_9 == 2.0)

574

In [14]:
#Question 10 What was the mean for humidity in February? Float
#Slices array to only include data where month = 2.0
q_10 = weather_data_np[weather_data_np[:,3] == 2.0 ]
#print the mean humidity
np.mean(q_10[:,8])

59.53231707317074

In [15]:
#Question 11 What was the std for humidity in February? Float
#Slices array to only include data where month = 2.0
q_11 = weather_data_np[weather_data_np[:,3] == 2.0 ]
#print the std for humidity
np.std(q_11[:,8])

19.092902179100975